#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
    border-bottom: 1px solid #f0f0f0;
    .head_left {
        float: left;
        line-height: 94px;
        margin-left: 42px;
        h1 {
            font-size: 46px;
            color: #00b600;
            display: inline-block;
            font-weight: 700;
        }
        img {
            vertical-align: middle;
            margin-left: 32px;
        }
    }
    .head_right {
        float: right;
        margin-right: 35px;
        span {
            display: block;
            width: 202px;
            height: 58px;
            background: #42bd56;
            color: #fff;
            text-align: center;
            line-height: 58px;
            font-size: 26px;
            border-radius: 10px;
        }
    }
}